<h1>Check Switch</h1>
<p>Check if Nintendo Switch is available for pre order</p>
<p>Checked on <%= @time.strftime("%b %d, %Y at %I:%M%p") %> Eastern Time</P>
<p>Switch Availability</p>
<table>
  <tr>
    <th>
      Retailers
    </th>
    <th>
      Availability
    </th>
  </tr>
  <% @status_hash.each do |item| %>
    <tr>
      <td>
        <%= item[0] %>
      </td>
      <td>
        <%= item[1] %>
      </td>
    </tr>
  <% end %>
</table> 
