<h1>Check Switch</h1>
<p>Check if Nintendo Switch is available for pre order</p>
<p>Refresh page or click on "check" button to check again</p>
<p>Checked on <span id="check-datetime"></span></P>
<h3>Switch Availability</h3>
<table id="aval-table">
  <tr>
    <th>
      Retailers
    </th>
    <th>
      Availability
    </th>
  </tr>
  <% @status_hash.each do |item| %>
    <tr>
      <td>
        <%= item[0] %>
      </td>
      <td id="<%= item[0] %>-aval-value" class="aval-value">
        <%= item[1] %>
      </td>
    </tr>
  <% end %>
</table> 

<div class="check-div">
    <!-- <%= link_to 'check', 'check/get_status', remote: true, class: "check-btn" %> -->
    <a href="#" class="check-btn">check</a>
  </div>
