<h1>Check Switch</h1>
<p>Find me in app/views/check/switch.html.erb</p>
<p>Check if switch is available for pre order</p>
<p>Checked on <%= @time.strftime("%b %d, %Y at %I:%M%p") %></P>
<p>Best Buy Status: <%= @best_buy_status %></p>
